/header>
  <!--Main Navigation-->
  <div class="card-body"style=" text-align: center; justify-content: center;">
    <h1 style="background-color: gray; color: white;">ABOUT US</h1>
    <h3>If you love all things Anime then you've come to the right place. We created this website to talk all things Anime. From legendary shows Like Dragonball Z to the latest and greatest such as Attack on titan.</h3>
  <p class="card-text">

</div>