<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> --}}
  <link rel="stylesheet" href="./assets/index.css">
  <title>Aniverse</title>
</head>

<body style="position: relative;">
      <main>
        {{{body}}}
      </main>
</body>
<footer class="bg-light text-center text-lg-start" >
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: white; position: fixed; bottom: 0px; width: 100% ">
    © 2022 Copyright:
    <a class="text-dark" href="">Aniverse.com</a>
  </div>
  <!-- Copyright -->
</footer>
<script src="./js/login.js"></script>
<script src="./js/post.js"></script>
<script src="./js/logout.js"></script>
<script src="./js/profile.js"></script>
</html>